{
  "trailingComma": "es5",
  "tabWidth": 4,
  "semi": false,
  "singleQuote": true,
  "printWidth": 70,

  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react",
    "^react-dom",
    "^react-router",
    "^@mui",
    "^antd",
    "^@/(.*)$",
    "^@components/(.*)$",
    "^@pages/(.*)$",
    "^@hooks/(.*)$",
    "^@utils/(.*)$",
    "^@consts/(.*)$",
    "^@firestore/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
