.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  font-size: calc(10px + 2vmin);
  color: white;
  /*background-image: url('./mafia.gif');*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  gap: 20px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 100%;
  justify-items: center;
}

.wrapper .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 45px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #6c6b6b;
}
.wrapper .item.active {
  display: flex;
  background-color: rgb(153, 47, 47);
}
.button {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.button__random {
  width: 120px;
  height: 50px;
  font-size: 26px;
}
.button__clean {
  width: 70px;
  height: 70px;
  font-size: 26px;
  margin-bottom: 20px;
}
.button input {
  font-size: 28px;
}

.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input label {
  margin-bottom: 5px;
}

.button__submit {
  width: 70px;
  height: 70px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

.button__submit-changes {
  width: 40px;
  height: 40px;
  font-size: 30px;
}
